<div class="message">
  <div class="message__avatar"></div>
  <div class="message__content">
    <div class="message__content__body">
      <div class="date">
        <%= time %>
      </div>
      <div class="message-1">
        <%- msgBody %>
      </div>
    </div>
  </div>
</div>
