<div class="media_wrap clearfix">
    <a class="ZA-a-<%= `${url}` %>" target="_blank">
        <audio controls>
            <source class="ZA-source-<%= `${url}` %>" type="audio/mpeg">
        </audio>
    </a>
</div>