<div class="message default clearfix">
  <div class="text" style="text-align: center; margin-top: 50px;">
    <hr style="border-color: #eee;">
    <p style="font-size: 14px; color: #bbb;margin-bottom: 0;"><%= time%></p>
    <p style="font-size: 16px"><%= title%></p>
  </div>
</div>