<a class="ZA-a-<%= `${url}` %>" target="_blank">
  <div class="media_wrap clearfix">
    <div
      class="ZA-div-style-<%= `${url}` %>"
      onmouseover="onMouseOver(this)" id="<%=msgId%>"
    >
    </div>
  </div>
</a>