<a class="ZA-a-<%= `${url}` %>" target="_blank">
    <div class="media_wrap clearfix arrangedFlex">
        <img class="ZA-img-<%= `${url}` %> thumb">
        <div class="infor">
            <div class="ZA-div-title-<%= `${url}` %> title"></div>
            <div class="ZA-div-size-<%= `${url}` %> description"></div>
        </div>
    </div>
</a>