<a href="<%= `${url}` %>" target="_blank" class="title">
  <div class="media_wrap clearfix arrangedFlex" >
    <img class="ZA-img-<%= `${url}` %>" class="thumb" style="width: 100px; height: auto;max-width: 50%;">
    <div class="infor">
      <div class="title"><%= title %></div>
      <div class="description"><%= description %></div>
    </div>
  </div>
</a>