<div class="message">
  <div class="message__avatar"></div>
  <div class="message__content">
    <div class="message__content__body">
      <div class="message--4">
        <hr class="message--4__divider">
        <p class="message--4__message">
          <%= time %> - <%= title %>
        </p>
      </div>
    </div>
  </div>
</div>